body {
    font-family: monospace;
    font-size: 20px;
}

#about p {
    padding-left: 5px;
}

#nome-principal, #descricao-principal {
    text-align: center;
}

.media {
    display: inline;
    list-style-type: none;
    text-align: center;
}

.media-icon {
    width: 40px;
    height: 40px;
}


.education {
    background-color: indigo;
}

.menu-title {
    text-align: center;
}

.menu-box {
    padding: 10px 10px;
}

.black-box {
    color: #fff;
    background-color: #000000

}
.colored-box {
    color: #000000;
    background-color: #CCFF00;
}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
 
.fade:hover {
       opacity: 0.9;
}

footer {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}