body {
    font-family: sans-serif;
    background-color: dimgray;
}

#nome-principal, #descricao-principal {
    text-align: center;
}

.menu-redes {
    text-align: center;
    display: inline;
}

.menu-resumo {
    text-align: center;
}