body {
    font-family: 'Poppins', sans-serif, monospace;
    font-size: 20px;
    text-align: center;
    background-color: #5b6d5b;
}

p {
    font-family: monospace;
}

h1 {
    margin-top: 50px;
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2;
}

a {
    color: #5b6d5b;
}


.menu {

}

.introduction pm h2 {
    width: 20%;
}

.top-container {
    padding-top: 70px;
    background-color: #f4c983;
    text-align: center;

}

.middle-container {
    padding: 30px 0;
    background-color: #f4c983;
}

.bottom-container, .contact-me {
    background-color: #e40017;
    padding-bottom: 30px;
}

.contact-me {
    padding-top: 5px;
}

.profile-img {
    width: 200px;
    height: 200px;
    padding-left: 20%;
    padding-top: 20px;
    float: left;
}

.linkedin-icon, .github-icon, .mailto-icon {
    width: 40px;
    height: 40x;
    padding: 5px;
}

.skill-row {
    width: 50%;
    margin: auto auto;
    padding-bottom: 10px;
    text-align: left;
    line-height: 1;
}

.skills-icon-java, .skills-icon-python {
    width: 10%;
    float: left;
    margin-right: 30px;
}

.no-float {
    padding-top: 30px;
    margin: 0 30px;
    clear: left;
}

.contact-button {
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #5B6D5B);
    background-image: -moz-linear-gradient(top, #1E62D0, #5B6D5B);
    background-image: -ms-linear-gradient(top, #1E62D0, #5B6D5B);
    background-image: -o-linear-gradient(top, #1E62D0, #5B6D5B);
    background-image: -webkit-gradient(to bottom, #1E62D0, #5B6D5B);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 100;
    padding: 26px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 0 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .contact-button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }